* {
  font-family: serif;
}
body {
  text-align: center;
  width: 960px;
  margin: 20px auto 20px auto;
}
@page {
	size: A4;
}
@page :first {
	@top-center {
		content: "This page unintentionally left blank."
	}
}
h1 {
  margin: 10px;
  text-transform: uppercase;
  page-break-before: always;
}
h2 {
  text-decoration: blink;
}
p {
  text-align: left;
  margin: 10px;
}
.abstract {
  width: 400px;
  margin: 10px auto 10px auto;
}
.column1 {
  float: left;
  width: 350px;
  margin: auto;
}
.column2 {
  float: left;
  width: 350px;
  margin: auto;
}
.columnLink {
  float: right;
  width: 200px;
  margin: auto;
  clear: right;
}

/*Add Black Background to the top navigation*/
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
